#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

#hero-img {
  background: url("./assets/hero-1.png");
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: right top;
}


