@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

body.dark {
  --primary-color: #646cff;
  --text-primary: #222222;
  --text-secondary: #efecec;
  --text-tertiary: #b4b2b2;
  --background: #fff;
  --surface: #f4edff;
  --icon : #f9f9f9;
}

body {
  --primary-color: #646cff;
  --text-primary: #020202;
  --text-secondary: #fff;
  --text-tertiary: #121212;
  --background: #ffffff;
  --surface: #f4edff;
  --icon : #202028;
}
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0, 0%, 100%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0, 0%, 100%;
  }
}




a {
  font-weight: 400;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-edu {
  font-family: "Edu AU VIC WA NT Guides";
}
.checkbox + p{
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.checkbox:checked + p {
  height: max-content;
  display: block;
}
.list-topic{
  position: relative;
  padding-left: 24px;
}

.list-topic::after {
  content: "~"; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: start;
}

@media screen and (min-width: 760px) {
  #sample {
    background-position: 50% 5% !important;
    background-size: 270vw !important;
  }
}

.btn {
  height: 45px;
  

}

.m-hero {
  transform: translateZ(200px) translate3d(3px);
}

.container {
  display: block;
  padding: 24px 12px;
  min-height: 100vh;
  height: 100%;

}


.loader {
  width: 45px;
  aspect-ratio: .75;
  --c:no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  16.67% {background-position: 0% 0%  ,50% 100%,100% 100%}
  33.33% {background-position: 0% 0%  ,50% 0%  ,100% 100%}
  50%    {background-position: 0% 0%  ,50% 0%  ,100% 0%  }
  66.67% {background-position: 0% 100%,50% 0%  ,100% 0%  }
  83.33% {background-position: 0% 100%,50% 100%,100% 0%  }
}


.slideIn {
  transform: translateX(-500px);
  opacity: 0;
  animation: SlideIn 2s ease 0.5s forwards;
}

@keyframes SlideIn {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


html.sr .fromTop, html.sr .fromBottom, html.sr .fromRight, html.sr .fromLeft {
  visibility: hidden;
}



@layer base {
  :root {
    --background:white;
    --foreground:240 10% 3.9%;
    --card:0 0% 100%;
    --card-foreground:240 10% 3.9%;
    --popover:0 0% 100%;
    --popover-foreground:240 10% 3.9%;
    --primary:240 5.9% 10%;
    --primary-foreground:0 0% 98%;
    --secondary:240 4.8% 95.9%;
    --secondary-foreground:240 5.9% 10%;
    --muted:240 4.8% 95.9%;
    --muted-foreground:240 3.8% 46.1%;
    --accent:240 4.8% 95.9%;
    --accent-foreground:240 5.9% 10%;
    --destructive:0 84.2% 60.2%;
    --destructive-foreground:0 0% 98%;
    --border:240 5.9% 90%;
    --input:240 5.9% 90%;
    --ring:240 10% 3.9%;
    --chart-1:12 76% 61%;
    --chart-2:173 58% 39%;
    --chart-3:197 37% 24%;
    --chart-4:43 74% 66%;
    --chart-5:27 87% 67%;
    --radius:0.5rem;
    --sidebar-background:0 0% 98%;
    --sidebar-foreground:240 5.3% 26.1%;
    --sidebar-primary:240 5.9% 10%;
    --sidebar-primary-foreground:0 0% 98%;
    --sidebar-accent:240 4.8% 95.9%;
    --sidebar-accent-foreground:240 5.9% 10%;
    --sidebar-border:220 13% 91%;
    --sidebar-ring:217.2 91.2% 59.8%;

  
  }
  .dark {
    --background:white;
    --foreground:0 0% 98%;
    --card:240 10% 3.9%;
    --card-foreground:0 0% 98%;
    --popover:240 10% 3.9%;
    --popover-foreground:0 0% 98%;
    --primary:0 0% 98%;
    --primary-foreground:240 5.9% 10%;
    --secondary:240 3.7% 15.9%;
    --secondary-foreground:0 0% 98%;
    --muted:240 3.7% 15.9%;
    --muted-foreground:240 5% 64.9%;
    --accent:240 3.7% 15.9%;
    --accent-foreground:0 0% 98%;
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:0 0% 98%;
    --border:240 3.7% 15.9%;
    --input:240 3.7% 15.9%;
    --ring:240 4.9% 83.9%;
    --chart-1:220 70% 50%;
    --chart-2:160 60% 45%;
    --chart-3:30 80% 55%;
    --chart-4:280 65% 60%;
    --chart-5:340 75% 55%;
    --sidebar-background:240 5.9% 10%;
    --sidebar-foreground:240 4.8% 95.9%;
    --sidebar-primary:224.3 76.3% 48%;
    --sidebar-primary-foreground:0 0% 100%;
    --sidebar-accent:240 3.7% 15.9%;
    --sidebar-accent-foreground:240 4.8% 95.9%;
    --sidebar-border:240 3.7% 15.9%;
    --sidebar-ring:217.2 91.2% 59.8%;
  }

}



@layer base {
  * {
    @apply border-border;

  
  }
  body {
    @apply bg-background text-foreground;

  
  }

  
}

#menu:checked > #sidebar {
  transform: translateX(0);
  display: block;
}

#sidebar {
  z-index: 1000;
}

#modal-dm:checked + div  {
    visibility: visible !important;
    opacity: 1 !important;
}


#modal-curriculum:checked + div  {
  visibility: visible !important;
  opacity: 1 !important;
}