@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family:"Comfortaa","Anta", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

body.dark {
  --primary-color: #646cff;
  --text-primary: #222222;
  --text-secondary: #efecec;
  --text-tertiary: #b4b2b2;
  --background: #fff;
  --surface: #f4edff;
  --icon : #f9f9f9;
}

body {
  --primary-color: #646cff;
  --text-primary: #020202;
  --text-secondary: #fff;
  --text-tertiary: #121212;
  --background: #ffffff;
  --surface: #f4edff;
  --icon : #202028;
}


* {
  transition: all 0.1s;
}

a {
  font-weight: 400;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-edu {
  font-family: "Edu AU VIC WA NT Guides";
}
.checkbox + p{
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.checkbox:checked + p {
  height: max-content;
  display: block;
}
.list-topic{
  position: relative;
  padding-left: 24px;
}

.list-topic::after {
  content: "~"; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: start; 
}

@media screen and (min-width: 760px) {
  #sample {
    background-position: 50% 5% !important;
    background-size: 270vw !important;
  }
}

.btn {
  height: 45px;
  

}

.m-hero {
  transform: translateZ(200px) translate3d(3px);
}

.container {
  display: block;
  padding: 24px 12px;
  min-height: 100vh;
  height: 100%;

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: .75;
  --c:no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  16.67% {background-position: 0% 0%  ,50% 100%,100% 100%}
  33.33% {background-position: 0% 0%  ,50% 0%  ,100% 100%}
  50%    {background-position: 0% 0%  ,50% 0%  ,100% 0%  }
  66.67% {background-position: 0% 100%,50% 0%  ,100% 0%  }
  83.33% {background-position: 0% 100%,50% 100%,100% 0%  }
}


.slideIn {
  transform: translateX(-500px);
  opacity: 0;
  animation: SlideIn 2s ease 0.5s forwards;
}

@keyframes SlideIn {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



html.sr .fromTop, html.sr .fromBottom, html.sr .fromRight, html.sr .fromLeft {
  visibility: hidden;
}